h1 {
    text-align: center;
    margin-bottom: 20px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: grid;
    place-items: center;
    height: 100vh;
    background-image: url("https://i.pinimg.com/564x/b4/22/4e/b4224e14b75f8c803b2c473b01914a32.jpg");
    background-size: cover;
    background-blend-mode: overlay;

}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: left;
}

form label {
    display: block;
    margin-bottom: 8px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="submit"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

form input[type="checkbox"] {
    margin-right: 5px;
}

form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #45a049;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #ccc;
    width: 100%;
}
.inicio {
    display: inline-block;
    background-color: #0026ff; 
    color: #e7e7e7; 
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px; 
    transition: 
    background-color 0.3s ease;
}

.inicio:hover {
    background-color: #00b30f; 
}

.inicio:active {
    transform: translateY(1px); 
}

